body {
    background: black !important;
    color: white !important;
    margin: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
}

  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: #333;
    padding: 10px 0;
    text-align: center;
}
.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.navbar li {
    margin: 0 15px;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}
.navbar a:hover {
    background: #575757;
    border-radius: 5px;
}
section {
    padding: 100px 20px;
    min-height: 100vh;
}

.card {
    background: #171738;
}
h4 {
    color: white;
}
